
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #28a745;
    border-color: #01841f;
}
.page-link{
    color: #28a745;
}
.row-title{
    color: #724930;
    font-weight: 600;
}


/*-----------------------------------*/

.tab-container{
    display: flex;
}
.tabs-list{
    display: flex;
    flex-direction: column;
    width:20%;
    overflow: hidden;
}
.tab-link{
    color: #666;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 20px;

    cursor: pointer;
    transition: background-color .45s;
}

.tab-link:hover,
.active.tab-link
{
    color: #724930;
    font-weight: 600;
    box-shadow: none;
}
.active.tab-link{   
    border-bottom: 2px solid #724930;
}
.tab-header{
    font-size: 1.5rem;
    font-weight: bold;
    color:#724930;
}
.tab-content-area{
    width:80%;
}
.service-tab-content{
    color:#444;
    display:none;
    padding:20px;
}
.service-tab-content img{
    width: 100%;
    height:auto;
}
.active.service-tab-content{
    display: block;
    animation: fadeEffect 1s;

}
.service-tab-content > .position-absolute{
    bottom: 50px;
    left: 50px;
    width: 50%;
}
@keyframes fadeEffect{
    from{opacity:0}
    to{opacity:1}
}

/*----------------------------*/
footer{
    
    color:#fff;
    padding: 40px 0 40px 0;
/*    background: -webkit-linear-gradient(220deg, rgb(177, 145, 64) 0%, rgb(218, 202, 135) 100%);
    background: -moz-linear-gradient(220deg, rgb(177, 145, 64) 0%, rgb(218, 202, 135) 100%);*/
    background: url(../images/footerBG.jpg) center center no-repeat;
    background-size: cover;
    background-position: 50% 55%;
    overflow: hidden;
    position: relative;
}
footer:before{
    content:"";
    position: absolute;
    /*z-index: -1;*/
    top:0;bottom:0;left:0; right:0;
    background: rgba(6, 12, 34, 0.76);
}
/*----------------------------*/
/* .effect2 {
	position: relative;
}

.effect2:before,
.effect2:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.effect2:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
} */
